{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-unused-vars": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": ["warn", {
      "extensions": [".ts", ".tsx"]
    }],
    "import/extensions": [
      "error",
      {
        "ts": "ignorePackages",
        "tsx": "ignorePackages"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".json"
        ]
      }
    }
  }
}
