@import "./variable";

.markdown {
  h1, h2, h3, h4, h5 {
    margin: 0 0 .5em;
    font-weight: 500;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: .8em;
  }

  p, ul, ol, blockquote {
    margin: 0 0 .5em;
  }

  blockquote {
    background-color: rgba($strong, .15);
    padding: .5em;
    border-left: 4px solid;

    p {
      margin-bottom: 0;

      + p {
        margin-top: .5em;
      }
    }
  }

  code, pre {
    font-family: 'mononoki Nerd Font', 'Ubuntu Mono', 'Courier New', Courier, monospace;
  }

  code:not(.hljs) {
    padding: 0 5px;
    white-space: nowrap;
    background-color: rgba($strong, .1);
    border-radius: 2px;
  }

  a {
    text-decoration: none;
    color: $strong;

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    margin: 1em 0;
    border: 1px dashed $strong-dark;
    border-width: 1px 0 0;
  }

  table {
    border-collapse: collapse;
    border: 1px solid $strong;
    width: 100%;
    margin-bottom: .5em;

    th, td {
      padding: .3em .4em;
      border: 1px solid $strong;
    }

    th {
      font-weight: 500;
      text-align: left;
    }

    tbody tr:hover {
      background-color: rgba($strong, .1);
    }
  }
}

@import "./highlight";
