@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Baloo 2",Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  @apply bg-teal-50 antialiased text-teal-900;
}

@font-face {
  font-family: 'mononoki';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/mononokiRegularNerd.woff2) format('woff2');
}

@font-face {
  font-family: 'mononoki';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/mononokiItalicNerd.woff2) format('woff2');
}

@layer components {

  .tag {
    @apply inline-flex items-center ml-1.5 px-1 py-0.5 text-teal-700 leading-4 rounded text-sm
  }

  .tag::before {
    content: "•";
    @apply mr-1;
  }
}

.prose h2 {
  @apply relative text-xl font-medium mb-5 mb-2.5 text-teal-900;
}

.prose hr {
  @apply my-4;
}

.prose h2::before {
  content: "§";
  @apply absolute -left-4 font-normal;
}

.prose p {
  @apply mt-3 mb-2;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose blockquote,
.prose thead {
  @apply text-teal-900;
}

.prose strong {
  @apply text-teal-800;
}

.prose code {
  @apply text-purple-600;
}

.prose pre {
  @apply bg-teal-900 text-base text-teal-100 my-2 p-0;
}

.prose pre,
.prose code,
.prose pre code {
  font-family: mononoki, "Ubuntu Mono", "Courier New", Courier, monospace;
}

.prose .hljs {
  @apply block overflow-x-auto p-4 bg-teal-900 rounded;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  @apply text-yellow-400;
}

.hljs-function .hljs-keyword {
  @apply text-green-400;
}

.hljs,
.hljs-subst {
  @apply text-teal-200;
}

.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  @apply text-yellow-400;
}

.hljs-string {
  @apply text-indigo-400 italic;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  @apply text-teal-600;
}

@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-title,
  .hljs-section,
  .hljs-doctag,
  .hljs-type,
  .hljs-name,
  .hljs-strong {
    @apply font-medium;
  }
}

.hljs-emphasis {
  @apply italic;
}

