@import "./variable";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: rgba($light, .25);
  -webkit-font-smoothing: antialiased;
  color: $strong-dark;
}

@import "./markdown";

.article {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em 2em;
}

.post-title {
  margin: 0 0 .5em;
  font-weight: 400;
  font-size: 2em;
  color: $strong-dark;
}

.post-profile {
  margin-bottom: .5em;
  padding-bottom: 5px;
  border-bottom: 1px solid $strong;

  time {
    margin-right: 1em;
    font-size: 14px;
    font-family: 'Baloo Bhaina 2';
  }
}

.post-tag {
  display: inline-flex;
  align-items: center;
  padding: 2px 5px;
  background-color: rgba($strong, .1);
  line-height: 1;
  border-radius: 2px;
  font-size: 14px;

  + .post-tag {
    margin-left: 5px;
  }
}

.page-footer {
  padding: 2em;
  font-family: 'Baloo Bhaina 2';
}

.slogan {
  text-align: center;
  margin: 0;
}

.about-site {
  margin-top: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-link {
  margin-left: 10px;
  line-height: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 40px;
}

.home-link {
  text-decoration: none;
  font-family: 'Baloo Bhaina 2';
  color: $strong;
}

.container {
  padding: 0 1em;
  max-width: 960px;
  margin: 0 auto;
  min-width: calc(100vh - 100px);
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-entry {
  margin-bottom: 1em;
  background-color: rgba($strong, .1);
  border-radius: 5px;
  padding: 1em;

  > a {
    text-decoration: none;
    color: $strong-dark;
    font-weight: 500;
  }
}

.post-infor {
  margin-top: 10px;

  time {
    margin-right: 1em;
    font-size: 14px;
    font-family: 'Baloo Bhaina 2';
  }
}
